# Autosave/Backup Files
*~$
auto-save-list
backups

# Cached info on recent files
places
.recentf
ac-comphist.dat

# Cached command information
ido.last
.smex-items
cider-history

# Project Navigation Info
projectile-bookmarks.eld
projectile.cache

# Package Management
elpa/
network-security.data

# Private Customizations
customizations/private/**
!customizations/private/example-private.el
